@page "/"

@using UI.Services

@inject SettingsService SettingsService
@inject FolderPickerService FolderPickerService

<h1>FocusFlow</h1>

<div class="menu-view">
    <p>Storage Directory: @SettingsService.Settings.StorageDirectory</p>
    <button @onclick="async () => SettingsService.Settings.StorageDirectory = await PickFolderAsync()">Pick Folder</button>
    <p>Selected Folder: @SettingsService.Settings.StorageDirectory</p>
</div>

<div class="projects-view">
    <!-- Projects content here -->
</div>

<div class="editors-view">
    <div id="editor" contenteditable="true" class="editor">
        Start typing here...
    </div>
</div>

@code {
    private async Task<string> PickFolderAsync() {
        //return await FolderPickerService.PickFolderAsync();
        return string.Empty;
    }
}