.menu-view, .projects-view, .editors-view {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.editor {
    border: 1px dashed #ccc;
    padding: 10px;
    min-height: 200px;
    white-space: pre-wrap;
}

.editor:focus {
    outline: none;
}