@page "/login"
@using FocusFlowWeb.Services
@using FocusFlowWeb.Utils
@inject NavigationManager Navigation
@inject GoogleAuthStateProvider AuthStateProvider
@rendermode InteractiveServer

<h3>Login</h3>
<div>
    <button @onclick="LoginWithGoogle">Login with Google</button>
</div>

@code {
    private void LoginWithGoogle() {
        Logger.Debug("Login button clicked");
        var returnUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
        Logger.Debug($"returnUrl: {returnUrl}");
        Navigation.NavigateTo($"authentication/login?returnUrl={returnUrl}", true);
    }
}